.overlay {
	position: fixed;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.window {
	position: fixed;
	z-index: 3;
	top: 10vh;
	left: 10vw;
	margin-right: 10vw;
	max-height: 80vh;
	width: 80vw;
	background-color: #fff;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	display: none;
}

.window .header_window {
	min-height: 20vh;
	background-image: url("../images/racoon_logo_white.svg");
	background-position: center 2vh;
	background-size: 7vh;
	background-repeat: no-repeat;
	padding-top: 10vh;
	background-color: #115180;
}

.window .header_window h1 {
	text-align: center;
	padding-left: 5vw;
	padding-right: 5vw;
	box-sizing: border-box;
}

.window .content_window {
	float: left;
	width: 90%;
	margin: 5%;
	color: rgba(0,0,0,0.7);
}

.window .content_window p {
	text-align: center;
}

.overlay .popin {
	position: fixed;
	z-index: 3;
	width: 70vw;
	/*height: 40vh;*/
	background-color: #fff;
	top: 30vh;
	left: 15vw;
	display: none;
}

.overlay .popin .container_popin {
	position: relative;
	float: left;
	width: 100%;
}

.overlay .popin .container_popin header {
	position: absolute;
	height: 20vh;
	width: 20vh;
	border-radius: 10vh;
	background-color: #fff;
	top: -10vh;
    left: calc(35vw - 10vh);
    background-image: url("../images/racoon_logo.svg");
    background-position: center center;
    background-size: 15vh;
    background-repeat: no-repeat;
}

.overlay .popin .container_popin p.message_popin {
	float: left;
	width: calc(100% - 10vw);
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 10vh;
    text-align: center;
}

.overlay .popin .container_popin button.btn_popin {
	float: left;
	width: calc(100% - 10vw);
	margin-left: 5vw;
	margin-right: 5vw;
	font-size: 5vw;
	height: 10vh;
	text-transform: uppercase;
    background-color: #11e611;
    color: #fff;
    margin-top: 5vh;
    margin-bottom: 1vh;
}