body {
	margin: 0;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 5vw;
	color: #3775CC;
}

p {
	margin: 1vh 1vw;
}

p.server_error {
	display: none;
	text-align: center;
	color: #FF0000;
}

h1 {
	float: left;
    width: 100%;
	font-size: 6vw;
	font-weight: normal;
	margin: 2vh 0;
}

button {
	border: none;
	outline: none;
}

button:focus {
	outline: none;
}

a.a_btn {
	height: 5vh;
	line-height: 5vh;
	background-color: transparent;
	color: #4491FF;
	text-decoration: underline;
	font-size: 5vw;
}

header {
	background-color: #4491FF;
	color: #fff;
	text-align: center;
}

.tobacco {
	background-image: url("../images/tobacco_icon.svg");
	background-color: #ff9900;
}

.alcohol {
	background-image: url("../images/alcohol_icon.svg");
	background-color: #ffdd00;
}

.view {
	float: left;
	width: 100vw;
}