@keyframes float {
	0% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
	50% {
		/*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
		transform: translatey(-20px);
	}
	100% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
}

@keyframes backgroundPulsate {
	0% {
		background-size: 15vh;
	}
	50% {
		background-size: 20vh;
	}
	100% {
		background-size: 15vh;
	}
}

body {
	margin: 0;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 5vw;
	color: #3775CC;
}

p {
	float: left;
	width: 100%;
	margin: 1vh 0;
}

p.server_error {
	display: none;
	text-align: center;
	color: #FF0000;
}

h1 {
	float: left;
    width: 100%;
	font-size: 6vw;
	font-weight: normal;
	margin: 2vh 0;
}

button {
	border: none;
	outline: none;
}

button:focus {
	outline: none;
}

button.a_btn {
	height: 5vh;
	line-height: 5vh;
	background-color: transparent;
	color: #4491FF;
	text-decoration: underline;
	font-size: 5vw;
}

header {
	background-color: #4491FF;
	color: #fff;
	text-align: center;
}

.tobacco {
	background-image: url("../images/tobacco_icon.svg");
	background-color: #F07718;
}

.alcohol {
	background-image: url("../images/alcohol_icon.svg");
	background-color: #F0D528;
}

.view, .inapp_view {
	float: left;
	width: 100vw;
	display: none;
}

/* POPIN */
.overlay {
	position: fixed;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.overlay .popin {
	position: fixed;
	z-index: 3;
	width: 70vw;
	/*height: 40vh;*/
	background-color: #fff;
	top: 30vh;
	left: 15vw;
	display: none;
}

.overlay .popin .container_popin {
	position: relative;
	float: left;
	width: 100%;
}

.overlay .popin .container_popin header {
	position: absolute;
	height: 20vh;
	width: 20vh;
	border-radius: 10vh;
	background-color: #fff;
	top: -10vh;
    left: calc(35vw - 10vh);
    background-image: url("../images/racoon_logo.svg");
    background-position: center center;
    background-size: 15vh;
    background-repeat: no-repeat;
}

.overlay .popin .container_popin p.message_popin {
	float: left;
	width: calc(100% - 10vw);
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 10vh;
    text-align: center;
}

.overlay .popin .container_popin button.btn_popin {
	float: left;
	width: calc(100% - 10vw);
	margin-left: 5vw;
	margin-right: 5vw;
	font-size: 5vw;
	height: 10vh;
	text-transform: uppercase;
    background-color: #11e611;
    color: #fff;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

/* MAIN VIEW */
.main_view {
	position: relative;
}

/* MAIN VIEW - HEADER */
.main_view header {
	float: left;
	width: 100vw;
	height: 12vh;
	text-align: inherit;
}

.main_view header .container_user {
	float: left;
	width: calc(95vw - 12vh);
	margin-left: 5vw;
	height: 12vh;
}

.main_view header .container_user .data_username {
	float: left;
	width: 100%;
	height: 6vh;
	line-height: 6vh;
	font-size: 6vw;
}

.main_view header .container_user .secondary_userdata {
	float: left;
	width: 100%;
	height: 6vh;
}

.main_view header .container_user .secondary_userdata .list_user_addiction {
	float: left;
	height: 6vh;
	line-height: 6vh;
}

.main_view header .container_user .secondary_userdata .list_user_addiction .addiction_icon {
	float: left;
	height: 5vh;
	width: 5vh;
	border-radius: 2.5vh;
	margin-right: 2vw;
	background-size: 3vh;
	background-position: center center;
	background-repeat: no-repeat;
}

.main_view header .container_user .secondary_userdata .data_userscore {
	float: left;
	height: 6vh;
	line-height: 6vh;
	font-weight: bold;
	font-size: 4vw;
	margin-left: 2vw;
}

.main_view header .container_user .secondary_userdata .score_icon {
	float: left;
	height: 4vh;
	width: 4vh;
	border-radius: 2vh;
	background-image: url("../images/score_icon.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 2.8vh;
    background-color: #22CC00;
    margin-top: 1vh;
    margin-left: 1vw;
}

.main_view header button.menu_btn {
	float: left;
	height: 12vh;
	width: 12vh;
	background-color: transparent;
	background-image: url("../images/menu_icon.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 8vh;
}


/* MAIN VIEW - MENU */
.main_view menu.main_menu {
	position: absolute;
    top: 0;
    right: 100vw;
    height: 88vh;
    width: calc(100vw - 12vh);
    margin: 0;
    padding: 0;
    padding-top: 12vh;
    background-color: #115180;
    transition: all 0.2s ease;
    background-image: url("../images/racoon_logo_white.svg");
    background-repeat: no-repeat;
    background-size: 8vh;
    background-position: center 2vh;
    z-index: 1;
}

.main_view menu.main_menu.active {
	right: 12vh;
}

.main_view menu.main_menu button.menu_item {
	float: left;
	width: 100%;
	height: 10vh;
	background-color: #4491FF;
	color: #fff;
    text-transform: uppercase;
    font-size: 4vw;
    text-align: left;
    padding-left: 15vw;
    border-bottom: 1px solid #fff;
}

.main_view menu.main_menu button.menu_item:last-child {
	border-bottom: none;
}

/* MAIN VIEW - HOME */
.main_view .home_view {
	float: left;
	width: 90vw;
	margin-left: 5vw;
	margin-right: 5vw;
}

.main_view .home_view p {
	text-align: center;
}

.main_view .home_view .taken_addiction_container {
	float: left;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.main_view .home_view .taken_addiction_container.one {
	width: 15vh;
	margin-left: calc(45vw - 7.5vh);
	margin-right: calc(45vw - 7.5vh);
}

.main_view .home_view .taken_addiction_container.two {
	width: 35vh;
	margin-left: calc(45vw - 17.5vh);
	margin-right: calc(45vw - 17.5vh);
}

.main_view .home_view .taken_addiction_container .taken_btn {
	position: relative;
	height: 15vh;
	width: 15vh;
	border-radius: 7.5vh;
	background-repeat: no-repeat;
	background-size: 10vh;
	background-position: center center;
	animation: float 6s ease-in-out infinite;
}

.main_view .home_view .taken_addiction_container .taken_btn .timer_addiction {
	position: absolute;
	width: 15vh;
	text-align: center;
	height: 5vh;
	line-height: 5vh;
	bottom: -5vh;
	color: rgba(0,0,0,0.6);
}

.main_view .home_view .taken_addiction_container .tobacco {
	float: left;
}

.main_view .home_view .taken_addiction_container .alcohol {
	float: right;
}

.main_view .home_view .droppable_container {
	float: left;
    height: 40vh;
    width: 40vh;
    margin-left: calc(50% - 20vh);
    background-color: #FF0000;
    border-radius: 20vh;
    background-image: url("../images/score_icon.svg");
    background-repeat: no-repeat;
    background-size: 15vh;
    background-position: center center;
    animation: backgroundPulsate 6s ease-in-out infinite;
    transition: background-color 0.2s ease;
}

.main_view .home_view .droppable_container.ondrag {
	background-color: #4491FF;
}

/* MAIN VIEW - TAKEN */
.main_view .taken_view, .main_view .taken_view .taken_list {
	float: left;
	width: 100%;
	height: 88vh;
}

.main_view .taken_view .taken_list {
	float: left;
	width: 100%;
	height: 88vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.taken_view .taken_list .taken_item {
	float: left;
	width: 100%;
	height: 10vh;
	background-color: #115180;
	border-bottom: 1px solid #fff;
	color: #fff;
}

.taken_view .taken_list .taken_item .taken_icon {
	float: left;
	height: 10vh;
	width: 10vh;
	background-size: 5vh;
	background-repeat: no-repeat;
	background-position: center center;
}

.taken_view .taken_list .taken_item .taken_price {
	float: left;
	height: 10vh;
	line-height: 10vh;
	width: 10vh;
	text-align: center;
	font-size: 3vh;
	font-weight: bold;
}

.taken_view .taken_list .taken_item .taken_title {
	float: left;
	height: 5vh;
	line-height: 5vh;
	width: calc(100% - 20vh);
}

.taken_view .taken_list .taken_item .taken_date {
	float: left;
	height: 5vh;
	line-height: 5vh;
	font-size: 2vh;
}

/* MAIN VIEW - UPDATE PASSWORD */
.main_view .update_password_view {
	float: left;
	width: 90vw;
	margin-left: 5vw;
	margin-right: 5vw;
}

/* ADD TAKEN VIEW */ 
.add_taken_view {
	float: left;
	width: 100%;
}

.add_taken_view header {
	float: left;
	height: 30vh;
	width: 100%;
	background-size: 15vh;
	background-repeat: no-repeat;
	background-position: center center;
}

.add_taken_form .price_content {
	float: left;
	height: 25vh;
	width: 100%;
	text-align: center;
	line-height: 25vh;
	font-size: 18vh;
}

.add_taken_view .add_taken_form {
	float: left;
	width: 90vw;
	margin-left: 5vw;
	margin-right: 5vw;
}

/* LOGIN VIEW */
.login_view header {
	float: left;
	width: 90vw;
	height: 20vh;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 5vh;
	background-color: #fff;
}

.login_view header .logo {
	float: left;
	width: 30vw;
	height: 30vw;
	background-image: url(../images/racoon_logo.svg);
	background-size: 26vw auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.login_view header .name {
	float: left;
	width: 60vw;
	height: 30vw;
	line-height: 30vw;
	font-size: 18vw;
	font-family: 'Permanent Marker', cursive;
	color: #4491FF;
	text-align: left;
}

.login_view .login_form {
	float: left;
	width: 90vw;
	margin-left: 5vw;
	margin-right: 5vw;
}

.login_view .login_form .container_forgot_password {
	float: left;
	width: 100%;
	height: 5vh;
}

.login_view .login_form .container_forgot_password button.forgot_password {
	float: right;	
}

.login_view .login_form .container_sign_up {
	float: left;
	height: 10vh;
	width: 100%;
	text-align: center;
}

/* USER CREATION VIEW */
.sign_up_view header {
	float: left;
	width: 100vw;
	height: 20vh;
}

.sign_up_view header .logo {
	height: 10vh;
	width: 10vh;
	margin: 1vh auto;
	background-image: url("../images/racoon_logo_white.svg");
	background-repeat: no-repeat;
    background-size: cover;
}

.sign_up_view .sign_up_form {
	float: left;
	width: 90vw;
	margin-left: 5vw;
	margin-right: 5vw;
}

.sign_up_view .sign_up_form .container_backtologin {
	float: left;
	width: 100%;
    height: 10vh;
	text-align: center;
}

/* CHOOSE ADDICTIONS VIEW */
.choose_addiction_view header {
	float: left;
	width: 100vw;
	height: 20vh;
}

.choose_addiction_view header .logo {
	height: 10vh;
	width: 10vh;
	margin: 1vh auto;
	background-image: url("../images/racoon_logo_white.svg");
	background-repeat: no-repeat;
    background-size: cover;
}

.choose_addiction_view .choose_addiction_form {
	float: left;
	width: 90vw;
	margin-left: 5vw;
	margin-right: 5vw;
}

.choose_addiction_view .choose_addiction_form p {
	text-align: center;
}

.choose_addiction_view .choose_addiction_form .container_addiction {
	float: left;
	width: 100%;
	height: 16vh;
	margin-top: 4vh;
	margin-bottom: 4vh;
}

.choose_addiction_view .choose_addiction_form .container_addiction button.addiction_btn {
	float: left;
	height: 16vh;
	width: 16vh;
	border-radius: 8vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 10vh;
	transition: all 0.2s ease;
}

.choose_addiction_view .choose_addiction_form .container_addiction button.disabled {
	background-color: rgba(0,0,0,0.1) !important;
}

.choose_addiction_view .choose_addiction_form .container_addiction .addiction_information {
	float: left;
	margin-left: 5vw;
	margin-top: 2vh;
	width: calc(85vw - 16vh);
}

.choose_addiction_view .choose_addiction_form .container_addiction .addiction_information .addiction_name {
    color: rgba(0,0,0,0.7);
    font-size: 6vw;
}

.choose_addiction_view .choose_addiction_form .container_addiction .addiction_information .addiction_description p {
	font-size: 4vw;
	text-align: left;
	color: rgba(0,0,0,0.6);
}

/* FORGOT PASSWORD VIEW */
.forgot_password_view header {
	float: left;
	width: 90vw;
	height: 55vh;
	padding: 0 5vw;
}

.forgot_password_view header .logo {
	float: left;
	height: 20vh;
	width: 20vh;
	margin: 5vh calc(45vw - 10vh);
	background-image: url("../images/racoon_logo_white.svg");
	background-repeat: no-repeat;
    background-size: cover;
}

.forgot_password_view .forgot_password_form {
	float: left;
	width: 90vw;
	margin-left: 5vw;
	margin-right: 5vw;
}

.forgot_password_view .forgot_password_form .container_backtologin {
	float: left;
	height: 10vh;
	width: 100%;
	text-align: center;
}

/* FORM ELEMENT */
.form_field {
	position: relative;
	float: left;
	width: 100%;
	margin: 3vh 0;
}

.form_field .form_field_label {
	position: absolute;
	transition: all 0.2s ease;
	font-size: 6vw;
	top: 5vh;
}

.form_field:focus-within .form_field_label, .form_field .form_field_label.active {
	top: 0;
	font-size: 4vw;
	color: #4491FF;
}

.form_field .form_field_input {
	background: none;
	border: none;
	border-bottom: 1px solid rgba(55,117,204,0.8);
	width: 100%;
	padding-top: 1vh;
	color: #3775CC;
	height: 8vh;
	font-size: 6vw;
	transition: border-bottom 0.2s ease;
}

.form_field .form_field_input.valid {
	border-bottom: 1px solid #11e611;
}

.form_field .form_field_input:focus {
	outline: none;
	border-bottom: 1px solid #4491FF;
}

.form_field .form_field_error {
	position: absolute;
    top: 10vh;
	color: #FF0000;
	font-size: 4vw;
	display: none;
}

.form_field .ui-slider-horizontal {
	background-color: rgba(0,0,0,0.1);
	margin-top: 2vh;
	margin-bottom: 2vh;
	margin-left: 5vw;
	margin-right: 5vw;
}

.form_field .ui-slider-horizontal .ui-slider-handle {
	background-color: #3775CC;
	height: 6vh;
	width: 6vh;
	top: -2vh;
	border-radius: 3vh;
}

.form_field button.btn, .form_field button.btn_cancel {
	font-size: 5vw;
	width: 100%;
	height: 10vh;
	text-transform: uppercase;
    background-color: #4491FF;
    color: #fff;
    transition: all 0.2s ease;
}

.form_field button.btn_cancel {
	background-color: #FF0000;
}

.form_field button.btn.disabled {
	background-color: rgba(0,0,0,0.1);
}