.forgot_password_view header {
	float: left;
	width: 90vw;
	height: 55vh;
	padding: 0 5vw;
}

.forgot_password_view header .logo {
	float: left;
	height: 20vh;
	width: 20vh;
	margin: 5vh calc(45vw - 10vh);
	background-image: url("../images/racoon_logo_white.svg");
	background-repeat: no-repeat;
    background-size: cover;
}

.forgot_password_view .forgot_password_form {
	float: left;
	width: 90vw;
	margin-left: 5vw;
	margin-right: 5vw;
}

.forgot_password_view .forgot_password_form .container_backtologin {
	float: left;
	height: 10vh;
	width: 100%;
	text-align: center;
}