/* SUCCESS LIST */
.success_list_view {
	float: left;
	width: 100%;
	height: 88vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.success_list_view .no_success {
	text-align: center;
}

.success_list_view .success_list {
	float: left;
	width: 100%;
}

.success_list_view .success_list .success_item {
	float: left;
	width: 100%;
	height: 12vh;
	background-color: rgba(0,0,0,0.1);
	box-sizing: border-box;
	border-bottom: 2px solid #fff;
}

.success_list_view .success_list .success_item.valid_success {
	/*background-color: #4491FF;
	color: #fff;
	border-bottom: 1px solid #3775CC;*/
}

.success_list_view .success_list .success_item:last-child {
	border-bottom: none;
}

.success_list_view .success_list .success_item .success_icon {
	float: left;
	height: 9vh;
	width: 9vh;
	border-radius: 4.5vh;
	margin: 1.5vh;
	background-size: 5vh;
	background-repeat: no-repeat;
	background-position: center center;
	border: 2px solid #fff;
	box-sizing: border-box;
}

.success_list_view .success_list .success_item.invalid_success .success_icon {
	background-color: transparent;
}

.success_list_view .success_list .success_item .success_data {
	float: left;
	width: calc(76vw - 12vh);
	height: 12vh;
}

.success_list_view .success_list .success_item .success_name {
	float: left;
	width: 100%;
	height: 7vh;
    line-height: 7vh;
    font-size: 4.5vw;
    font-weight: bold;
}

.success_list_view .success_list .success_item.invalid_success .success_name {
	color: rgba(0,0,0,0.7);
}


.success_list_view .success_list .success_item .success_date {
	float: left;
	width: 100%;
	height: 5vh;
	font-size: 4vw;
	color: rgba(0,0,0,0.7);
}

.success_list_view .success_list .success_item.invalid_success .success_date {
	font-size: 3.5vw;
	color: #FF0000;
}

.success_list_view .success_list .success_item .success_point {
	float: left;
	width: 20vw;
	line-height: 12vh;
    text-align: right;
    font-size: 8vw;
    font-weight: bold;
    margin-right: 4vw;
}

.success_list_view .success_list .success_item.invalid_success .success_point {
	color:#fff;
}

/* ONE SUCCESS VIEW */
section.success_view {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #f4d03f;
	background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}

section.success_view header {
	float: left;
	width: 100vw;
	position: relative;
	background-color: transparent;
	background-image: url("../images/success_icon.svg");
	background-repeat: no-repeat;
	background-position: center 4vh;
    background-size: 22vh;
	height: 40vh;
	border-bottom: none;
}

section.success_view header h1 {
	position: absolute;
	width: 100vw;
	bottom: 15px;
	text-align: center;
	font-size: 8vw;
}

section.success_view .addiction {
	float: left;
	width: 100vw;
	height: 15vh;
}

section.success_view .addiction div {
	margin-left: auto;
	margin-right: auto;
	height: 15vh;
	width: 15vh;
	border-radius: 7.5vh;
	background-size: 8vh auto;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 15px 5px rgba(255,255,255,1);
}

section.success_view .content_success {
	float: left;
	width: 100vw;
	text-align: center;
	color: #fff;
	margin-top: 4vh;
}

section.success_view .content_success .success_point {
	font-weight: bold;
}

section.success_view .close_success {
	float: left;
	width: 100vw;
	height: 15vh;
	margin-top: 5vh;
}

section.success_view .close_success .close_success_btn {
	margin-left: calc(50vw - 7.5vh);
	height: 15vh;
	width: 15vh;
	border-radius: 7.5vh;
	background-color: #4491FF;
	background-image: url("../images/approve_icon.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 8vh;
	border: 2px solid #fff;
}
